.input {
  background:
    linear-gradient(rgb(var(--rgbBackgroundDarkSecondary)), rgb(var(--rgbBackgroundDarkSecondary))) no-repeat 100% 100% / 0 1px,
    linear-gradient(#bcbcbc, #bcbcbc) no-repeat 0 100% / 100% 1px;
  border: none!important;
  box-shadow: none!important;
  font-family: inherit;
  font-size: 100%;
  height: 70px;
  line-height: 1.15;
  margin: 0;
  padding: 26px 0;
  transition: background-size 0.4s var(--ease1);
  width: 100%;
}

.input:focus {
  background:
    linear-gradient(rgb(var(--rgbBackgroundDarkSecondary)), rgb(var(--rgbBackgroundDarkSecondary))) no-repeat 0 100% / 100% 1px,
    linear-gradient(#bcbcbc, #bcbcbc) no-repeat 0 100% / 100% 1px;
  outline: none;
}

.textarea {
  height: 140px;
  margin-bottom: 20px;
}
