.panel {
  display: flex;
  background: rgb(var(--rgbBackgroundSecondary));
}

.panel .title2 {
  /* max-width: 564px; */
  /* width: auto; */
  align-items: center;
}

.panel .button {
  margin: var(--space3XL) auto 0;
}

@media (max-width: 696px) {
  .title2 {
    max-width: none;
  }
}

.panel--alternate .title2 {
  align-self: flex-end;
  margin-top: 0;
}

.panel__lectures {
  align-self: flex-end;
  display: grid;
  grid-row-gap: var(--spaceXL);
  margin: var(--spaceL) 0 0;
  max-width: 624px;
  width: 100%;
}

.panel__lectures--alternate {
  align-self: flex-start;
}

@media (max-width: 696px) {
  .panel__lectures {
    align-self: flex-start;
    margin-top: var(--spaceXL);
    max-width: none;
  }
}

.panel__lecture {
  color: var(--colorTextBody);
  display: flex;
  flex-direction: column;
  height: var(--space6XL);
  justify-content: center;
  margin: 0!important;
  padding-right: var(--spaceM);
  position: relative;
  text-decoration: none;
  width: 100%;
}

.panel__lecture svg {
  color: rgb(var(--rgbAccent));
  position: absolute;
  right: 0;
  top: var(--space2XL);
}

.panel__lecture::after {
  background-color: rgb(234, 234, 234);
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.panel__lecture:hover .panel__lecture-name div,
.panel__lecture:active .panel__lecture-name div,
.panel__lecture:focus .panel__lecture-name div {
  transform: scale(1);
}

@media (max-width: 696px) {
  .panel__lecture {
    height: auto;
  }

  .panel__lecture svg {
    top: var(--spaceXL);
  }
}

.panel__lecture-name {
  align-self: flex-start;
  color: var(--colorTextTitle);
  flex: none;
  font-size: 1.875rem;
  font-weight: var(--fontWeightBold);
  letter-spacing: 0.02em;
  line-height: 1.5;
  position: relative;
}

.panel__lecture-name span {
  position: relative;
  z-index: 2;
}

.panel__lecture-name div {
  background-color: rgb(var(--rgbBlack) / 0.067);
  bottom: 0;
  height: var(--spaceL);
  position: absolute;
  right: -20px;
  right: -var(--spaceM);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform var(--durationXL) var(--ease1);
  width: 100%;
  z-index: 1;
}

@media (max-width: 696px) {
  .panel__lecture-name div {
    display: none;
  }
}

.panel__lecture-info {
  font-size: var(--fontSizeH3);
  font-weight: var(--fontWeightRegular);
  letter-spacing: 0.05em;
  line-height: var(--lineHeightBody);
  margin-top: var(--spaceS);
}
