.header {
  --headerColor: var(--colorTextBody);
  --headerBackground: rgb(var(--rgbBackground));
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  max-width: calc(100% - 100px);
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.55s var(--ease1);
  z-index: 1024;
}

.header--dark {
  --headerColor: rgb(var(--rgbWhite));
  --headerBackground: rgb(var(--rgbBackgroundDark));
}

@media (max-width: 696px) {
  .header {
    height: 116px;
    max-width: calc(100% - 40px);
  }
}

.header__logo {
  color: var(--headerColor);
  pointer-events: all;
  z-index: 21;
}

.header__nav {
  align-items: center;
  display: flex;
  pointer-events: all;
  z-index: 21;
}

.header__cta {
  color: var(--headerColor);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 28px;
  margin-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__cta::after {
  background: var(--headerColor);
  content: '';
  display: block;
  height: 1px;
  margin-top: 5px;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.4s var(--ease1);
  width: 100%;
}

.header__cta:hover::after,
.header__cta:focus::after {
  transform-origin: right;
  transform: scaleX(0);
}

@media (max-width: 696px) {
  .header__cta {
    line-height: 24px;
  }
}

.header__menu {
  background: var(--headerBackground);
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.55s var(--ease1);
  width: 100vw;
  z-index: 20;
}

.header__menu--open {
  opacity: 1;
  pointer-events: all;
}

.header__menu-content {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

@media (max-width: 1280px) {
  .header__menu-content {
    max-width: 1080px;
  }
}

@media (max-width: 1024px) {
  .header__menu-content {
    max-width: 960px;
  }
}

@media (max-width: 696px) {
  .header__menu-content {
    max-width: 100%;
  }
}

.header__content-wrapper {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 696px) {
  .header__content-wrapper {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 20px;
  }
}

.header__primary-nav {
  color: var(--headerColor);
}

@media (max-width: 696px) {
  .header__primary-nav {
    margin-bottom: 80px;
  }
}

.header__nav-label {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.25em;
  line-height: 24px;
  text-transform: uppercase;
  transform-origin: bottom left;
  transform: rotate(-90deg) translate3d(-45px, 0, 0);
}

@media (max-width: 696px) {
  .header__nav-label {
    display: none;
  }
}

.header__nav-menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 0 60px;
  padding: 0;
  transform: translate3d(0, -20px, 0);
}

@media (max-width: 696px) {
  .header__nav-menu {
    margin-left: 0;
  }
}

.header__nav-item {
  color: inherit;
  font-size: 75px;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 95px;
  text-decoration: none;
  transform-origin: left;
  transform: scaleX(0.98);
}

.header__nav-item h4 {
  clip-path: inset(0 0 0 0);
  display: block;
  position: relative;
  transition: all 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
  z-index: 3;
}

.header__nav-item label {
  left: 0;
  opacity: 0.8;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all 0.75s cubic-bezier(0.63, 0.03, 0.21, 1);
  z-index: 1;
}

.header__nav-item span {
  font-size: 12px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0.25em;
  line-height: 24px;
  margin-left: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition: all 0.85s cubic-bezier(0.63, 0.03, 0.21, 1);
  z-index: 1;
}

.header__nav-item:hover h4,
.header__nav-item:active h4,
.header__nav-item:focus h4,
.header__nav-item.active h4 {
  clip-path: inset(0 100% 0 0);
  margin-left: 35px;
}

.header__nav-item:hover label,
.header__nav-item:active label,
.header__nav-item:focus label,
.header__nav-item.active label {
  margin-left: 35px;
}

.header__nav-item:hover span,
.header__nav-item:active span,
.header__nav-item:focus span,
.header__nav-item.active span {
  margin-left: 0;
  opacity: 1;
}

@media (max-width: 696px) {
  .header__nav-item:hover h4,
  .header__nav-item:active h4,
  .header__nav-item:focus h4,
  .header__nav-item.active h4,
  .header__nav-item:hover label,
  .header__nav-item:active label,
  .header__nav-item:focus label,
  .header__nav-item.active label {
    margin-left: 0;
  }
}

@media (max-width: 1600px) {
  .header__nav-item {
    font-size: 67px;
    line-height: 87px;
  }
}

@media (max-width: 1280px) {
  .header__nav-item {
    font-size: 59px;
    line-height: 79px;
  }
}

@media (max-width: 696px) {
  .header__nav-item {
    font-size: 40px;
    line-height: 55px;
  }

  .header__nav-item span {
    display: none;
  }
}

.header__nav-info {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: -38px;
  position: relative;
  z-index: 22;
}

.header__nav-info h4 {
  color: var(--headerColor);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 32px;
  margin: 15px 0 30px;
}

@media (max-width: 696px) {
  .header__nav-info {
    color: var(--headerColor);
    align-self: flex-start;
    margin: 0;
  }

  .header__nav-info h4 {
    display: none;
  }
}

.header__nav-socials {
  margin-top: 35px;
}