.hero {
  --heroBackground: rgb(var(--rgbBackground));
  align-items: center;
  background: var(--heroBackground);
  display: flex;
  padding: 0 var(--space2XL);
}

.hero--dark {
  --heroBackground: rgb(var(--rgbBackgroundDark));
}

.hero--accent {
  --heroBackground: rgb(var(--rgbAccent));
}

.hero--accent .label,
.hero--accent .title,
.hero--accent .title2,
.hero--accent .paragraph {
  color: rgb(var(--rgbWhite));
}

@media (max-width: 696px) {
  .hero {
    padding: 0 var(--spaceL);
  }
}

.hero__container {
  margin: 0 auto;
  max-width: var(--maxWidthXL);
  opacity: 0;
  width: 100%;
}

@media (max-width: 1600px) {
  .hero__container {
    max-width: var(--maxWidthL);
  }
}

@media (max-width: 1280px) {
  .hero__container {
    max-width: var(--maxWidthM);
  }
}

@media (max-width: 696px) {
  .hero__container {
    max-width: var(-maxWidthS);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero__container--entering {
  animation: fade-in var(--durationL) ease var(--durationXS) forwards;
}

.hero__container--entered {
  opacity: 1;
}

.hero__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: var(--space7XL) 0;
  padding-left: var(--space2XL);
}

.hero__content .label {
  left: calc(-1 * var(--space2XL));
  position: relative;
}

.hero__content .title {
  margin-top: var(--space2XL);
  width: 56%;
}

.hero__content .title2 {
  margin-top: var(--space2XL);
  width: 56%;
  white-space: pre-line;
}

.hero__content .paragraph {
  margin-top: var(--spaceXL);
  width: 70%;
}

.hero__content .title + .hero__content .paragraph {
  margin-top: var(--spaceL);
}

.hero__content .title2 + .hero__content .paragraph {
  letter-spacing: 0;
  margin-top: var(--space3XL);
}

.hero__content .button {
  margin-top: var(--space3XL);
}

@media (max-width: 1280px) {
  .hero__content .title,
  .hero__content .title2 {
    width: 70%;
  }

  .hero__content .paragraph {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .hero__content {
    padding-left: var(--spaceXL);
  }

  .hero__content .label {
    left: calc(-1 * var(--spaceXL));
  }

  .hero__content .title,
  .hero__content .title2,
  .hero__content .paragraph {
    width: 100%;
  }
}

@media (max-width: 696px) {
  .hero__content {
    margin: var(--space4XL) 0;
    padding-left: 0;
  }

  .hero__content .label {
    left: 0;
  }

  .hero__content .title {
    margin-top: var(--spaceXL);
  }

  .hero__content .title2,
  .hero__content .paragraph,
  .hero__content .title2:first-of-type,
  .hero__content .paragraph:first-of-type {
    margin-top: var(--spaceL);
  }

  .hero__content .button {
    margin-top: var(--space2XL);
  }
}

.hero__content--center {
  align-items: center;
  padding: 0;
}

.hero__content--center .title,
.hero__content--center .title2,
.hero__content--center .paragraph {
  max-width: none;
  width: auto;
}

.hero__content--center .label {
  left: 0;
  margin-left: calc(-1 * var(--space2XL));
}

@media (max-width: 1024px) {
  .hero__content--center .label {
    margin-left: calc(-1 * var(--spaceXL));
  }
}

@media (max-width: 696px) {
  .hero__content--center .label {
    margin-left: 0;
  }
}
